In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('emp.csv')

In [3]:
print(df)

    eno   ename  salary  deptno         doj
0    10   Amber    1000      10  2018-05-14
1     2    Amar    1000      10  2017-03-22
2     8   Sagar    1000      20  2020-11-30
3     4  Thomas    1000      10  2019-08-18
4     5    Jade    2000      10  2021-02-10
5     6   Smith    1000      10  2016-12-01
6     7  Robert    3000      20  2023-06-25
7     3    Nick    1000      30  2015-09-15
8     9   Naman    4000      30  2020-01-20
9     1   Vikas    1000      30  2017-10-03
10   11  Dennis   41000      30  2024-01-05
11   12   Karan    2200      20  2018-06-16
12   13  Simran    1500      10  2019-12-19
13   14    Amit    2000      30  2022-04-09
14   15    Neha    1700      20  2021-07-22
15   16   Rahul    1200      10  2016-03-28

In [4]:
print(df.loc[7])

eno                3
ename           Nick
salary          1000
deptno            30
doj       2015-09-15
Name: 7, dtype: object

In [5]:
print(df.drop(7))

    eno   ename  salary  deptno         doj
0    10   Amber    1000      10  2018-05-14
1     2    Amar    1000      10  2017-03-22
2     8   Sagar    1000      20  2020-11-30
3     4  Thomas    1000      10  2019-08-18
4     5    Jade    2000      10  2021-02-10
5     6   Smith    1000      10  2016-12-01
6     7  Robert    3000      20  2023-06-25
8     9   Naman    4000      30  2020-01-20
9     1   Vikas    1000      30  2017-10-03
10   11  Dennis   41000      30  2024-01-05
11   12   Karan    2200      20  2018-06-16
12   13  Simran    1500      10  2019-12-19
13   14    Amit    2000      30  2022-04-09
14   15    Neha    1700      20  2021-07-22
15   16   Rahul    1200      10  2016-03-28

In [6]:
print(df)

    eno   ename  salary  deptno         doj
0    10   Amber    1000      10  2018-05-14
1     2    Amar    1000      10  2017-03-22
2     8   Sagar    1000      20  2020-11-30
3     4  Thomas    1000      10  2019-08-18
4     5    Jade    2000      10  2021-02-10
5     6   Smith    1000      10  2016-12-01
6     7  Robert    3000      20  2023-06-25
7     3    Nick    1000      30  2015-09-15
8     9   Naman    4000      30  2020-01-20
9     1   Vikas    1000      30  2017-10-03
10   11  Dennis   41000      30  2024-01-05
11   12   Karan    2200      20  2018-06-16
12   13  Simran    1500      10  2019-12-19
13   14    Amit    2000      30  2022-04-09
14   15    Neha    1700      20  2021-07-22
15   16   Rahul    1200      10  2016-03-28

In [9]:
df = pd.read_csv("emp.csv",index_col="eno")

In [8]:
print(df)

    eno   ename  salary
0    10   Amber    1000
1     2    Amar    1000
2     8   Sagar    1000
3     4  Thomas    1000
4     5    Jade    2000
5     6   Smith    1000
6     7  Robert    3000
7     3    Nick    1000
8     9   Naman    4000
9     1   Vikas    1000
10   11  Dennis   41000
11   12   Karan    2200
12   13  Simran    1500
13   14    Amit    2000
14   15    Neha    1700
15   16   Rahul    1200

In [10]:
df = pd.read_csv("emp.csv",index_col="eno")

In [11]:
print(df)

      ename  salary  deptno         doj
eno
10    Amber    1000      10  2018-05-14
2      Amar    1000      10  2017-03-22
8     Sagar    1000      20  2020-11-30
4    Thomas    1000      10  2019-08-18
5      Jade    2000      10  2021-02-10
6     Smith    1000      10  2016-12-01
7    Robert    3000      20  2023-06-25
3      Nick    1000      30  2015-09-15
9     Naman    4000      30  2020-01-20
1     Vikas    1000      30  2017-10-03
11   Dennis   41000      30  2024-01-05
12    Karan    2200      20  2018-06-16
13   Simran    1500      10  2019-12-19
14     Amit    2000      30  2022-04-09
15     Neha    1700      20  2021-07-22
16    Rahul    1200      10  2016-03-28